body
{
    background-image: url(../images/pexels-abdullah-ghatasheh-1631677.jpg);
    background-size: cover;
    z-index: -2;
    font-family: 'Mynerve', cursive;
}
h1,h2,h3,label
{
    color: #333;
}
input
{
    background-color: rgba(255,255,255,0.01);
    outline: none;
    border: none;
    
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    color: #333;
    
}
a
{
    text-decoration: none;
    color: rgb(255, 255, 255)
}
.opacityBG
{
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0  ;
    z-index: -1;
}
/* .box-container{
    border: 4px solid #333;
} */
hr
{
    border: 2px solid #333;
}
button,input
{
    font-weight: 900 !important;
}